:root {
    --daylight-color: #FFFFCC;
    --astronomical-twilight-color: #8888FF;
    --nautical-twilight-color: #FF88FF;
    --civil-twilight-color: #88FFFF;
    --sunrise-sunset-color: #FF7777;
    --golden-hour-color: #FFFF00;
}

.tg-daylight-marker {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 0;
    border-top: 2px solid #ff7f6e;
    overflow: hidden;

    /* top and height computed dynamically */
    border-top: 1px solid var(--daylight-color); 
    border-bottom: 1px solid var(--daylight-color); 
    background-color: var(--daylight-color); 
    opacity: 0.5; 
}

.tg-daylight-marker.is-removing,
.tg-astronomical-twilight-marker.is-removing,
.tg-nautical-twilight-marker.is-removing,
.tg-civil-twilight-marker.is-removing,
.tg-sunrise-sunset-marker.is-removing,
.tg-golden-hour-marker.is-removing {
    opacity: 0;
}

.tg-astronomical-twilight-marker {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 0;
    overflow: hidden;

    /* top and height computed dynamically */
    border-top: 1px solid var(--astronomical-twilight-color);
    border-bottom: 1px solid var(--astronomical-twilight-color);
    background-color: var(--astronomical-twilight-color);
    opacity: 0.1;
}

.tg-nautical-twilight-marker {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 0;
    overflow: hidden;

    /* top and height computed dynamically */
    border-top: 1px solid var(--nautical-twilight-color);
    border-bottom: 1px solid var(--nautical-twilight-color);
    background-color: var(--nautical-twilight-color);
    opacity: 0.1;
}

.tg-civil-twilight-marker {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 0;
    overflow: hidden;

    /* top and height computed dynamically */
    border-top: 1px solid var(--civil-twilight-color);
    border-bottom: 1px solid var(--civil-twilight-color);
    background-color: var(--civil-twilight-color);
    opacity: 0.1;
}

.tg-sunrise-sunset-marker {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 0;
    overflow: hidden;

    /* top and height computed dynamically */
    border-top: 1px solid var(--sunrise-sunset-color);
    border-bottom: 1px solid var(--sunrise-sunset-color);
    background-color: var(--sunrise-sunset-color);
    opacity: 0.5;
}

.tg-golden-hour-marker {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 0;
    overflow: hidden;

    /* top and height computed dynamically */
    border-top: 1px solid var(--golden-hour-color);
    border-bottom: 1px solid var(--golden-hour-color);
    background-color: var(--golden-hour-color);
    opacity: 0.5;
}

